// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//////////////////////////////////////////////////
.welcome-nav-container {
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: #326da8;
        box-shadow: 0px 10px 42px -25px rgba(0, 0, 0, 0.75);
    }
    .navbar-brand {
        font-size: 3rem;
        margin: 0.5rem 0.5rem;
        color: white;
    }
    .navbar-brand:hover {
        color: white;
    }
}

.card {
    margin-top: 3rem;
}

.card-body {
    padding: 0;
}

.card-header {
    font-size: 2rem;
    text-align: center;
}

.cam-container {
    display: flex;
    background-color: #eeeded;
    padding: 1rem;
    justify-content: space-between;
}

.cam {
    width: 49%;
    /* background-color: cadetblue; */
}

.card-status {
    margin-top: 0.5rem;
}

.current-status {
    display: flex;
    justify-content: space-between;
}

.progress {
    height: 4rem;
    width: 48%;
}

.botons {
    margin-left: 2rem;
    display: flex;
    width: 48%;
    justify-content: space-between;
}

.botons button {
    width: 49% !important;
}

.nevel-1 {
    background-color: #1fb00c;
}

.nevel-2 {
    background-color: #fffb2a;
}

.nevel-3 {
    background-color: #b19d0a;
}

.nevel-4 {
    background-color: #e01616;
}

.boton-container {
    width: 50%;
    margin: 2rem auto;
}

.boton-container .btn-primary {
    width: 100%;
}

.boton {
    height: 4.5rem;
    font-size: 1.5rem;
    border-radius: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas,
.far {
    margin-right: 2rem;
    font-size: 2.2rem;
}

.card-header {
    h5 {
        font-size: 2rem;
    }
}

.card-header.card-tit {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .fas {
        margin-right: 3rem;
    }
}